body {
    font-family: Arial;
    margin: 30px;
    text-align: center;
}

h2 {
    font-family: Verdana;
}

canvas {
    height: 450px;
    border: 1px solid dimgray;
}

.title {
    color:green;
}
